body{
  font-family: Arial;
  margin: 0;
}


.color-fondo-azul-pucp{
  background: #2b78e4 !important;
}
.color-blanco{
  color: #fff !important;
}

.texto-retroalimentacion{
  width: 100%;
  height: 100%;
  margin-top: 10px !important;
}

.texto-nota{
  width: 50%;
  float: right;
}


.swal-footer {
  text-align: center;
}

.btn:hover{
  background: rgb(127, 209, 214) !important;
}
.texto-centrado{
  text-align:center !important;

}

.chosen-container {
  width: 100% !important;
}
