<section>
  <div>
    <div class="card-header">
      <h2>
        Agregar Usuario
      </h2>
      <ul class="actions">
        <li>
          <a class="pull-right" ng-click="ctrl.cerrar()"><i class="fa fa-window-close"></i></a>
        </li>
      </ul>
    </div>
    <div class="container-fluid">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-4 control-label m-t-10 m-b-0">Nombres*: </label>
              <div class="col-sm-8">
                <div class="fg-line">
                  <input class="form-control input-sm" placeholder="Ingrese los nombres del usuario" ng-model = "ctrl.usuarioNuevo.nombres">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-4 control-label m-t-10 m-b-0">Facultad*: </label>
              <div class="col-sm-8">
                <div class="fg-line">
                  <select chosen
                    options="ctrl.facultades"
                    data-placeholder="Seleccione una facultad"
                    ng-model="ctrl.facultad"
                    ng-options="facultad as facultad.nombre for facultad in ctrl.facultades">
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-4 control-label m-t-10 m-b-0">Apellidos*: </label>
              <div class="col-sm-8">
                <div class="fg-line">
                  <input class="form-control input-sm" placeholder="Ingrese los apellidos del usuario" ng-model = "ctrl.usuarioNuevo.apellidos">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-4 control-label m-t-10 m-b-0">Especialidad*: </label>
              <div class="col-sm-8">
                <div class="fg-line">
                  <select chosen
                    options="ctrl.especialidades"
                    data-placeholder="Seleccione una especialidad"
                    ng-model="ctrl.especialidad"
                    ng-options="especialidad as especialidad.nombre for especialidad in ctrl.especialidades">
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-4 control-label m-t-10 m-b-0">Correo*: </label>
              <div class="col-sm-8">
                <div class="fg-line">
                  <input class="form-control input-sm" placeholder="Ingrese el correo del usuario" ng-model = "ctrl.usuarioNuevo.correo">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-4 control-label m-t-10 m-b-0">C&oacute;digo*: </label>
              <div class="col-sm-8">
                <div class="fg-line">
                  <input class="form-control input-sm" placeholder="Ingrese el código del usuario" ng-model = "ctrl.usuarioNuevo.codigo">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="col-sm-4 control-label m-t-10 m-b-0">Tipo de usuario*: </label>
              <div class="col-sm-8">
                <div class="fg-line">
                  <select chosen multiple
                    options="ctrl.tiposUsuario"
                    data-placeholder="Seleccione los tipos de usuario"
                    ng-model="ctrl.tipo"
                    ng-options="tipo as tipo.descripcion for tipo in ctrl.tiposUsuario">
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-b-25 p-r-25 p-l-25 p-t-2 text-right">
        <button class="btn btn-danger waves-effect" ng-click = "ctrl.cerrar()"><i class="fa fa-ban"></i> Cancelar</button>
        <button class="btn color-fondo-azul-pucp color-blanco" ng-click = "ctrl.guardarUsuario()"><i class="fa fa-save"></i> Guardar</button>
      </div>
    </div>
  </div>
</section>
