body{
  font-family: Arial;
  margin: 0;
}

<<<<<<< HEAD

=======
>>>>>>> 5cc0e24aaa2b9f4f2168011b0603cf3029525668
.color-fondo-azul-pucp{
  background: #2b78e4 !important;
}
.color-blanco{
  color: #fff !important;
}

.texto-retroalimentacion{
  width: 100%;
  height: 100%;
  margin-top: 10px !important;
}

.texto-nota{
  width: 50%;
  float: right;
}


.swal-footer {
  text-align: center;
}

.btn:hover{
  background: rgb(127, 209, 214) !important;
}
.texto-centrado{
  text-align:center !important;

}
